<div class="col-md-12" id="detailPhone">
	
		<div class="row">
			<div class="col-md-12">
				<img class='big-img' ng-src='{{thisPhone.images[0]}}'/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<span ng-repeat='thisImg in thisPhone.images'>
					<img class="phone-thumbs" ng-src='{{thisImg}}'/>
				</span>
			</div>
		</div>
		<div class="row">
			<h1>{{thisPhone.name}}</h1>
			<h1><small>{{thisPhone.description}}</small></h1>
			<dt>Additional Features:</dt>
			<dd>{{thisPhone.additionalFeatures}}</dd>
			<dt>Android:</dt>
			<dd>
					<dt>OS:</dt>
					<dd>{{thisPhone.android.os}}</dd>
					<dt>UI:</dt>
					<dd>{{thisPhone.android.ui}}</dd>
			</dd>
			<dt>Size And Weight:</dt>
			<dd>
					<dt>Dimensions:</dt>
					<dd><span ng-repeat='di in thisPhone.sizeAndWeight.dimensions'>{{di}}; </span></dd>
					<dt>UI:</dt>
					<dd>{{thisPhone.sizeAndWeight.weight}}</dd>
			</dd>
			<dt>Storage:</dt>
			<dd>
					<dt>Flash:</dt>
					<dd>{{thisPhone.storage.flash}}</dd>
					<dt>RAM:</dt>
					<dd>{{thisPhone.storage.ram}}</dd>
			</dd>
			<dt>Availability:</dt>
			<dt>{{thisPhone.availability}}</dt>
			<dt>Battery:</dt>
			<dd>
					<dt>Standby Time:</dt>
					<dd>{{thisPhone.battery.standbyTime}}</dd>
					<dt>Talk Time:</dt>
					<dd>{{thisPhone.battery.talkTime}}</dd>
					<dt>Type:</dt>
					<dd>{{thisPhone.battery.type}}</dd>
			</dd>
			<dt>Camera:</dt>
			<dd>
					<dt>Features:</dt>
					<dd>{{thisPhone.camera.features}}</dd>
					<dt>Primary:</dt>
					<dd>{{thisPhone.camera.primary}}</dd>
			</dd>
			<dt>Connectivity:</dt>
			<dd>
					<dt>Bluetooth:</dt>
					<dd>{{thisPhone.connectivity.bluetooth}}</dd>
					<dt>Cell:</dt>
					<dd>{{thisPhone.connectivity.cell}}</dd>
					<dt>GPS:</dt>
					<dd>{{thisPhone.connectivity.gps}}</dd>
					<dt>Infrared:</dt>
					<dd>{{thisPhone.connectivity.infrared}}</dd>
					<dt>WiFi:</dt>
					<dd>{{thisPhone.connectivity.wifi}}</dd>
			</dd>
			<dt>Display:</dt>
			<dd>
					<dt>Screen Resolution:</dt>
					<dd>{{thisPhone.display.screenResolution}}</dd>
					<dt>Screen Size:</dt>
					<dd>{{thisPhone.display.screenSize}}</dd>
					<dt>Touch Screen:</dt>
					<dd>{{thisPhone.display.touchScreen}}</dd>
			</dd>
			<dt>Hardware:</dt>
			<dd>
					<dt>Accelerometer:</dt>
					<dd>{{thisPhone.hardware.accelerometer}}</dd>
					<dt>AudioJack:</dt>
					<dd>{{thisPhone.hardware.audioJack}}</dd>
					<dt>CPU:</dt>
					<dd>{{thisPhone.hardware.cpu}}</dd>
					<dt>FM Radio:</dt>
					<dd>{{thisPhone.hardware.rmRadio}}</dd>
					<dt>Physical Keyboard:</dt>
					<dd>{{thisPhone.hardware.physicalKeyboard}}</dd>
					<dt>USB:</dt>
					<dd>{{thisPhone.hardware.usb}}</dd>
			</dd>
		</div>
	<div>